*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0px;
    margin: 0px;
}

h1{
    font-size: 3em;
    color:#3D6645;
}

h2{
    font-size: 2em;
    color:#3D6645;
}

.btnprincipal{
    background-color: #3D6645;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border: none;
    border-radius: 5px;
    color:#fffffe;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}